In [354]:
import pandas as pd

In [355]:
df = pd.read_csv("books_2000.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.drop_duplicates(inplace=True)

In [356]:
df.shape

(1638, 14)

In [357]:
df.head()

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,genre_1,genre_2,genre_3,places
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244 ratings","66,759 reviews",759 pages,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,Fantasy,Young Adult,Fiction,NaN
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809 ratings","173,706 reviews",374 pages,Published September 14th 2008 by Scholastic Press,NaN,The Hunger Games #1,Locus Award Nominee for Best Young Adult Book ...,Young Adult,Fiction,Science Fiction,NaN
2,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,506,722 ratings","40,531 reviews",NaN,Published September 16th 2006 by Scholastic In...,Harry Potter #6,Draco Malfoy,NaN,NaN,NaN,NaN,NaN
3,Harry Potter and the Goblet of Fire,J.K. Rowling,4.56,"2,672,283 ratings","47,871 reviews",734 pages,Published September 28th 2002 by Scholastic (f...,Harry Potter #4,Sirius Black,NaN,NaN,NaN,NaN,NaN
4,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,581,093 ratings","43,636 reviews",870 pages,Published September 2004 by Scholastic Inc. (f...,NaN,Harry Potter #5,Bram Stoker Award for Works for Young Readers ...,NaN,NaN,NaN,NaN

In [358]:
df.dtypes

Title            object
author           object
rating          float64
num_rating       object
num_reviews      object
pages            object
publish_year     object
url              object
series           object
awards           object
genre_1          object
genre_2          object
genre_3          object
places           object
dtype: object

## num_rating

In [359]:
df['num_rating']=df['num_rating'].astype(str)
df['num_rating']=df['num_rating'].apply(lambda x:x.replace(' ratings',''))
df['num_rating']=df['num_rating'].astype(object)
df.head(2)

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,genre_1,genre_2,genre_3,places
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759 reviews",759 pages,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,Fantasy,Young Adult,Fiction,NaN
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809","173,706 reviews",374 pages,Published September 14th 2008 by Scholastic Press,NaN,The Hunger Games #1,Locus Award Nominee for Best Young Adult Book ...,Young Adult,Fiction,Science Fiction,NaN

## 2. num_reviews

In [360]:
df['num_reviews'][0]

'66,759 reviews'

In [361]:
df['num_reviews']=df['num_reviews'].astype(str)
df['num_reviews'] = df['num_reviews'].apply(lambda x:x.replace(' reviews',''))
df['num_reviews']=df['num_reviews'].astype(object)
df.head(1)

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,genre_1,genre_2,genre_3,places
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759 pages,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,Fantasy,Young Adult,Fiction,NaN

## 3. pages

In [362]:
df['pages'][0]

'759 pages'

In [363]:
df['pages']=df['pages'].astype(str)
df['pages'] = df['pages'].apply(lambda x:x.replace(' pages',''))
df['pages']=df['pages'].astype(object)
df.head(1)

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,genre_1,genre_2,genre_3,places
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,Fantasy,Young Adult,Fiction,NaN

## 4. genre_1, genre_2, genre3

In [364]:
df.columns[10:13]

Index(['genre_1', 'genre_2', 'genre_3'], dtype='object')

In [365]:
df['genre'] = df[df.columns[10:13]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)
df.drop(['genre_1', 'genre_2', 'genre_3'], axis=1, inplace=True)
df['genre'] = df['genre'].replace('', 'missing')

In [366]:
df.head(3)

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,places,genre
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,NaN,"Fantasy,Young Adult,Fiction"
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809","173,706",374,Published September 14th 2008 by Scholastic Press,NaN,The Hunger Games #1,Locus Award Nominee for Best Young Adult Book ...,NaN,"Young Adult,Fiction,Science Fiction"
2,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,506,722","40,531",nan,Published September 16th 2006 by Scholastic In...,Harry Potter #6,Draco Malfoy,NaN,NaN,missing

## 5. series

In [367]:
df['series'][0]

'Harry Potter #7'

In [368]:
df['series'] = df['series'].astype(str)
df['series_bin'] = df['series'].apply(lambda x:1 if '#' in x else 0)
df.drop('series', axis=1, inplace=True)

In [369]:
df.head(3)

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,awards,places,genre,series_bin
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Locus Award Nominee for Best Young Adult Novel...,NaN,"Fantasy,Young Adult,Fiction",1
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809","173,706",374,Published September 14th 2008 by Scholastic Press,NaN,Locus Award Nominee for Best Young Adult Book ...,NaN,"Young Adult,Fiction,Science Fiction",1
2,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,506,722","40,531",nan,Published September 16th 2006 by Scholastic In...,Harry Potter #6,NaN,NaN,missing,0

## 6. places

In [370]:
df['places'].replace(np.nan , 'missing', inplace=True)
df['places'].replace(['All Editions | Add a New Edition | Combine', ''] , 'missing', inplace=True)

## 7. url

In [371]:
df['url'].isnull().sum()

1532

In [372]:
df['url'].replace(np.nan, 'missing', inplace=True)

## 8. publish year

In [373]:
df['publish_year'][0:6]

0    Published July 21st 2007 by Arthur A. Levine B...
1    Published September 14th 2008 by Scholastic Press
2    Published September 16th 2006 by Scholastic In...
3    Published September 28th 2002 by Scholastic (f...
4    Published September 2004 by Scholastic Inc. (f...
5    Published March 14th 2006 by Alfred A. Knopf (...
Name: publish_year, dtype: object

In [374]:
df['publish_year'] = df['publish_year'].astype(str)
keep_year = df['publish_year'].apply(lambda x:x.split('by')[0])

In [375]:
keep_year

0            Published July 21st 2007
1       Published September 14th 2008
2       Published September 16th 2006
3       Published September 28th 2002
4            Published September 2004
                     ...
2078         Published July 13th 2004
2079          Published May 31st 2005
2080         Published March 6th 2007
2081        Published August 3rd 2004
2082        Published April 15th 2003
Name: publish_year, Length: 1638, dtype: object

In [376]:
df['publish_year'] = keep_year.apply(lambda x:x.replace('Published ', ''))
df['publish_year'] = df['publish_year'].apply(lambda x:x.replace('st',',').replace('th', ',').replace('rd',','))

In [379]:
df.head(2)df['mean_norm_ratings'] = 1 + (df['rating'] - df['rating'].mean()) / (df['rating'].max() - df['rating'].min()) * 9

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,awards,places,genre,series_bin
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759,"July 21, 2007",https://www.arthuralevinebooks.com/harry-potte...,Locus Award Nominee for Best Young Adult Novel...,missing,"Fantasy,Young Adult,Fiction",1
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809","173,706",374,"September 14, 2008",missing,Locus Award Nominee for Best Young Adult Book ...,missing,"Young Adult,Fiction,Science Fiction",1

# preprocessing

In [377]:
from sklearn.preprocessing import MinMaxScaler

In [380]:
scaler = MinMaxScaler((1, 10))
df['minmax_norm_rating'] = scaler.fit_transform(df[['rating']])

In [383]:
df['mean_norm_ratings'] = 1 + (df['rating'] - df['rating'].mean()) / (df['rating'].max() - df['rating'].min()) * 9

In [384]:
df.head()

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,awards,places,genre,series_bin,minmax_norm_rating,mean_norm_ratings
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244","66,759",759,"July 21, 2007",https://www.arthuralevinebooks.com/harry-potte...,Locus Award Nominee for Best Young Adult Novel...,missing,"Fantasy,Young Adult,Fiction",1,9.005814,4.343691
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809","173,706",374,"September 14, 2008",missing,Locus Award Nominee for Best Young Adult Book ...,missing,"Young Adult,Fiction,Science Fiction",1,7.488372,2.826249
2,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,506,722","40,531",nan,"September 16, 2006",Harry Potter #6,NaN,missing,missing,0,8.744186,4.082063
3,Harry Potter and the Goblet of Fire,J.K. Rowling,4.56,"2,672,283","47,871",734,"September 28, 2002",Harry Potter #4,NaN,missing,missing,0,8.691860,4.029737
4,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,581,093","43,636",870,September 2004,missing,Bram Stoker Award for Works for Young Readers ...,missing,missing,1,8.377907,3.715784