In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [14]:
df = pd.DataFrame({'avg_ratings':[4.10, 4.70, 4.87,3.89,4.23,2.32,1.88,4.32,4.52,4.46]})

In [17]:
scaler = MinMaxScaler((1,10))
df['min_max_norm_rating'] = scaler.fit_transform(df[['avg_ratings']])

In [18]:
df

   avg_ratings  min_max_norm_rating
0         4.10             7.682274
1         4.70             9.488294
2         4.87            10.000000
3         3.89             7.050167
4         4.23             8.073579
5         2.32             2.324415
6         1.88             1.000000
7         4.32             8.344482
8         4.52             8.946488
9         4.46             8.765886

In [34]:
df2 = pd.DataFrame({'avg_ratings':[1.9, 4.1, 4.70, 4.99]})

In [35]:
scaler = MinMaxScaler((1,10))
df2['min_max_norm_rating'] = scaler.fit_transform(df2[['avg_ratings']])

In [47]:
df2['mean_norm_ratings'] = 1  + (df2['avg_ratings'] - df2['avg_ratings'].mean()) / (df2['avg_ratings'].max() - df2['avg_ratings'].min()) * 9

In [48]:
df2

   avg_ratings  min_max_norm_rating  mean_norm_ratings
0         1.90             1.000000          -4.890777
1         4.10             7.407767           1.516990
2         4.70             9.155340           3.264563
3         4.99            10.000000           4.109223

# Scrapper

In [156]:
import time
import pandas as pd
import numpy as np

In [50]:
# Selenium imports
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException, StaleElementReferenceException, ElementNotInteractableException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [178]:
def init_driver(path):    #path = '../driver/chromedriver.exe'
    # Initialize crome driver
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument('--disable-extensions')
    chrome_options.add_argument('--profile-directory=Default')
#     chrome_options.add_argument('--incognito')
    chrome_options.add_argument('--disable-plugins-discovery')
#     chrome_options.add_argument('--start-maximized')
    
    browser = webdriver.Chrome(executable_path=path, options=chrome_options)
    
    return browser

In [162]:
df = pd.read_csv('just_for_links.csv')
urls = df['Title_URL'].tolist()

In [163]:
len(urls)

5099

In [164]:
books = []

In [172]:
browser = init_driver(path='chromedriver.exe') 
a = 'https://www.goodreads.com/book/show/136251.Harry_Potter_and_the_Deathly_Hallows'
for l in urls[0:1200]:    
    browser.get(l)
    time.sleep(2)
    try:
        browser.find_element_by_css_selector('[alt="Dismiss"]').click() #clicking to the X.
        print(' x out .worked')
    except (NoSuchElementException,ElementNotInteractableException):
        #print(' x out failed')
        pass
    time.sleep(1)
 
    try:
        book_name = browser.find_element_by_xpath('.//div[@class="last col stacked"]//div[@class="last col"]//following-sibling::*').text
        #print(book_name)
    except NoSuchElementException:
        book_name = np.nan
        
    try:
        author = browser.find_element_by_xpath('.//div[@class="last col stacked"]//div[@class="last col"]//div[@id="bookAuthors"]//span[@itemprop="author"]//div[@class="authorName__container"]//following-sibling::*').text
        #print(author)
    except NoSuchElementException:
        author = np.nan
    
    try:
        rating = browser.find_element_by_xpath('.//div[@class="uitext stacked"]//span[@itemprop="ratingValue"]').text
        #print(rating)
    except NoSuchElementException:
        rating = np.nan
        
    try:
        num_rating = browser.find_element_by_xpath('.//div[@class="uitext stacked"]//a[@class="gr-hyperlink"]').text
        #print(num_rating)
    except NoSuchElementException:
        num_rating = np.nan
        
    try:
        num_reviews=browser.find_element_by_xpath('//*[@id="bookMeta"]/a[3]').text
        #print(num_reviews)
    except NoSuchElementException:
        num_reviews = np.nan
        
    try:
        pages=browser.find_element_by_xpath('//*[@id="details"]/div[1]/span[3]').text
        #print(pages)
    except NoSuchElementException:
        pages = np.nan
        
    try:
        publish_year=browser.find_element_by_xpath('//*[@id="details"]/div[2]').text
        #print(publish_year)
    except NoSuchElementException:
        publish_year = np.nan
        
    try:
        browser.find_element_by_xpath('.//div[@class="buttons"]//a[text()="More Details..."]').click()
    except (StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException, ElementNotInteractableException):
        pass
    
    try:    
        url=browser.find_element_by_xpath('//*[@id="bookDataBox"]/div[3]/div[2]/a').text
        #print(url)
    except NoSuchElementException:
        url = np.nan
        
    try:
        series=browser.find_element_by_xpath('//*[@id="bookDataBox"]/div[4]/div[2]/a').text
        #print(series)
    except NoSuchElementException:
        series = np.nan
        
    try:
        awards=browser.find_element_by_xpath('//*[@id="bookDataBox"]/div[8]/div[2]').text
        #print(awards)
    except NoSuchElementException:
        awards = np.nan
        
    try:
        places=browser.find_element_by_xpath('//*[@id="bookDataBox"]/div[7]').text
        #print(places)
    except NoSuchElementException:
        places = np.nan
        
    try:
        genre_1=browser.find_element_by_xpath('/html/body/div[2]/div[3]/div[1]/div[2]/div[5]/div[7]/div/div[2]/div/div[1]/div[1]/a').text
        #print(genre_1)
    except NoSuchElementException:
        genre_1 = np.nan
    
    try:
        genre_2=browser.find_element_by_xpath('/html/body/div[2]/div[3]/div[1]/div[2]/div[5]/div[7]/div/div[2]/div/div[2]/div[1]/a').text
        #print(genre_2)
    except NoSuchElementException:
        genre_2 = np.nan
        
    try:
        genre_3=browser.find_element_by_xpath('/html/body/div[2]/div[3]/div[1]/div[2]/div[5]/div[7]/div/div[2]/div/div[3]/div[1]/a').text
        #print(genre_3)
    except NoSuchElementException:
        genre_3 = np.nan
    time.sleep(0.5)
    
    books.append({'Title':book_name,
        "author" : author,
        "rating" : rating,
        "num_rating" : num_rating,
        "num_reviews" : num_reviews,
        "pages" : pages,
        "publish_year" : publish_year,
        "url" : url,
        "series" : series,
        "awards" : awards,
        "places" : places,         
        "genre_1" : genre_1,
        "genre_2" : genre_2,
        "genre_3" : genre_3,})
    
print(f"Scrapped data of {len(books)} books.")
df = pd.DataFrame(books)

Scrapped data of 2083 books.

In [173]:
df.head()

,Title,author,rating,num_rating,num_reviews,pages,publish_year,url,series,awards,genre_1,genre_2,genre_3,places
0,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,883,244 ratings","66,759 reviews",759 pages,Published July 21st 2007 by Arthur A. Levine B...,https://www.arthuralevinebooks.com/harry-potte...,Harry Potter #7,Locus Award Nominee for Best Young Adult Novel...,Fantasy,Young Adult,Fiction,NaN
1,The Hunger Games,Suzanne Collins,4.33,"6,533,809 ratings","173,706 reviews",374 pages,Published September 14th 2008 by Scholastic Press,NaN,The Hunger Games #1,Locus Award Nominee for Best Young Adult Book ...,Young Adult,Fiction,Science Fiction,NaN
2,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,506,722 ratings","40,531 reviews",NaN,Published September 16th 2006 by Scholastic In...,Harry Potter #6,Draco Malfoy,NaN,NaN,NaN,NaN,NaN
3,Harry Potter and the Goblet of Fire,J.K. Rowling,4.56,"2,672,283 ratings","47,871 reviews",734 pages,Published September 28th 2002 by Scholastic (f...,Harry Potter #4,Sirius Black,NaN,NaN,NaN,NaN,NaN
4,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,581,093 ratings","43,636 reviews",870 pages,Published September 2004 by Scholastic Inc. (f...,NaN,Harry Potter #5,Bram Stoker Award for Works for Young Readers ...,NaN,NaN,NaN,NaN

In [174]:
df.to_csv("books_2000.csv")

In [175]:
df.shape

(2083, 14)

In [176]:
df.columns

Index(['Title', 'author', 'rating', 'num_rating', 'num_reviews', 'pages',
       'publish_year', 'url', 'series', 'awards', 'genre_1', 'genre_2',
       'genre_3', 'places'],
      dtype='object')

In [ ]:
# df.avg_rating = pd.to_numeric(df.avg_rating, errors="coerce")
    # df.num_ratings = pd.to_numeric(df.num_ratings, errors="coerce")
    # df = df.fillna(0)
    # df['num_ratings'] = df['num_ratings'].astype(int)
    # df['avg_rating'] = df['avg_rating'].astype(int)